header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.pools-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 1em;
    padding: 1em;
}

.sidepanel-bg {
    background-color: white;
    height: 100%;
}